/* background color for part of the navbar. */
.navbar-brand {
  background-color: seagreen;
}
/* text color for "Stephen Pacyga" on the navbar. */
.whitetext {
  color: white !important;
}

/* keeps the text left alined without a huge margin and background styles. */
body {
  float: left;
  background-color: linen;
}

/* formating to keep the footer in the correct place, colors, and other styles. */
.footer {
  position: absolute;
  bottom: 0;
  background-color: grey;
  padding: 20px;
  color: lightgray;
  border-top: 8px solid seagreen;
  width: 100%;
  text-align: center;
}
